<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mars.dao.cluster.CityDao">
	<resultMap id="BaseResultMap" type="com.mars.model.City">
		<result column="id" property="id" />
		<result column="province_id" property="provinceId" />
		<result column="city_name" property="cityName" />
		<result column="description" property="description" />
	</resultMap>

	<!--<parameterMap id="City" type="com.mars.model.City"/>-->

	<sql id="Base_Column_List">
		id, province_id, city_name, description
	</sql>

	<select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from city
		where city_name = #{cityName}
	</select>

	<select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from city
		where id = #{id}
	</select>

	<insert id="insertCity" useGeneratedKeys="true" keyProperty="city.id" parameterType="com.mars.model.City">
		<!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="city.id">-->
			<!--SELECT LAST_INSERT_ID()-->
		<!--</selectKey>-->
		insert into city(province_id,city_name,description) VALUES (#{city.provinceId},#{city.cityName},#{city.description})
	</insert>

	<delete id="deleteCityById" parameterType="java.lang.Long">
		delete from city where id = #{id}
	</delete>
</mapper>
